@import "../../partials/body";
@import "../../partials/titles";

$description-color: #617d98;
$button-background-color: #dae2ec;
$button-text-color: #617d98;
$width-max-size: 700px;

.container {
  width: 100%;
  height: 60vh;

  .about-me {
    max-width: $width-max-size;
    margin: auto;
    margin-top: $titles-margin-top;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    h1 {
      flex: 1;
      font-size: $titles-font-size;
      text-transform: capitalize;
      letter-spacing: 3px;
      margin: auto;
      margin-bottom: 3px;
    }
    .underline {
      @include underline(5em, 0.3em, $secondary-color, center);
      margin: auto;
      margin-bottom: 4em;
    }
    .description {
      flex: 1;
      font-size: 1em;
      font-family: $ff-secondary;
      text-align: justify;
      color: $description-color;
      padding: 20px;
      padding-top: 0;
      padding-bottom: 0;
      margin: 0;
    }

    .knowledge {
      flex: 1;
      padding: 20px;
      display: inline-flex;
      flex-wrap: wrap;

      span {
        width: fit-content;
        background-color: $button-background-color;
        color: $button-text-color;
        margin: 0.5rem;
        letter-spacing: 2px;
        text-decoration: none;
        text-transform: uppercase;
        padding: 0.25rem 0.5rem;
        border-radius: 10%;
        font-size: 0.7em;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .container {
    .about-me {
      h1 {
        font-size: 2.5em;
      }
      .description {
        font-size: 1em;
      }
    }
  }
}
