@import "../../partials/variables";

$h4-color: #5d7892;
$button-letter-color: #513c06;

.hero {
  width: 100%;
  height: 80vh;

  .hero-center {
    max-width: $site-width;
    margin: auto;
    margin-top: 15em;
    display: flex;

    .hero-info {
      flex: 1;
      height: 100%;
      margin-left: 4em;

      .underline {
        width: 5em;
        height: 0.3em;
        background: $secondary-color;
        place-items: center;
      }

      h1 {
        margin: 0;
        font-size: 4em;
      }

      h4 {
        margin: 0;
        margin-top: 0.8em;
        margin-bottom: 0.8em;
        color: $h4-color;
      }

      .contact-me {
        margin-top: 1.25em;
        padding: 10px;
        font-weight: 700;
        border: 2px solid transparent;
        border-radius: 10%;
        box-shadow: 3px 4px 10px 1px #00000033;
        letter-spacing: 2px;
        text-transform: uppercase;
        background-color: $secondary-color;
        color: $button-letter-color;
        transition: all 0.3s linear;
        cursor: pointer;

        &:hover {
          background-color: $secondary-color-light;
        }
      }
    }
    .hero-img {
      flex: 1;
      // background-color: lightskyblue;
    }
  }
}

@media only screen and (max-width: 900px) {
  .hero {
    .hero-center {
      margin-top: 10em;
      .hero-info {
        margin-left: 1.4em;
      }
      .hero-img {
        flex: 0;
      }
    }
  }
}
