@import "../../partials/variables";

%format-text {
  color: $links-color;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bold;
  font-size: large;
  list-style-type: none;
  text-decoration: "none";
}

%shadow {
  box-shadow: 0px 8px 8px $secondary-color-light;
}

.navbar {
  // @extend %shadow;
  background: $navbar-background;
  min-height: 60px;
  display: grid;
  grid-template-columns: 1fr;
  max-width: $site-width;
  margin: auto;

  nav {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .logo {
      height: 1.2em;
      margin: auto;
      margin-left: 1em;
    }

    .menu {
      margin-right: 1em;
      @extend %format-text;
      display: flex;

      .link {
        @extend %format-text;
        flex: 1;
        text-align: center;
        transition: color 1s;
        cursor: pointer;

        &:hover {
          color: $secondary-color;
        }

        &:focus,
        &:hover,
        &:visited,
        &:link,
        &:active {
          text-decoration: none;
        }
      }
    }

    .fabar-btn {
      margin: auto;
      margin-right: 1em;
      cursor: pointer;
      transition: all 0.3s linear;

      &:hover {
        color: $secondary-color;
        transform: rotate(90deg);
      }
    }

    .rotate {
      color: $secondary-color;
      transform: rotate(90deg);
    }
  }
}

.responsive-menu {
  @extend %format-text;
  @extend %shadow;
  height: 0;
  overflow: hidden;
  transition: all 1s;

  .container {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    background-color: $navbar-background;
    text-decoration: "none";

    .responsive-link {
      @extend %format-text;
      height: 40px;
      padding-top: 10px;
      padding-left: 20px;
      place-items: center;
      transition: all 1s;
      cursor: pointer;

      &:hover {
        background-color: $secondary-color-light;
        padding-left: 25px;
      }

      &:focus,
      &:hover,
      &:visited,
      &:link,
      &:active {
        text-decoration: none;
      }
    }
  }
}
