@import "../../partials/body";
@import "../../partials/navbar";

%shadow {
  box-shadow: 0px 8px 8px $secondary-color-light;
}

%navbar-format-text {
  @extend %format-text;
  color: $navbar-links-color;
}

.navbar {
  background: $navbar-background;
  min-height: 60px;
  display: grid;
  grid-template-columns: 1fr;
  max-width: $site-width;
  margin: auto;
  margin-top: 1em;

  nav {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .logo {
      height: 1.2em;
      margin: auto;
      margin-left: 1em;
    }

    .menu {
      margin-right: 1em;
      display: flex;

      .link {
        @extend %navbar-format-text;
        flex: 1;
        text-align: center;
        transition: color 1s;
        cursor: pointer;

        &:hover {
          color: $secondary-color;
        }
      }
    }

    .fabar-btn {
      margin: auto;
      margin-right: 1em;
      cursor: pointer;
      transition: all 0.3s linear;

      &:hover {
        color: $secondary-color;
        transform: rotate(90deg);
      }
    }

    .rotate {
      color: $secondary-color;
      transform: rotate(90deg);
    }
  }
}

.responsive-menu {
  @extend %navbar-format-text;
  position: fixed;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: all 1s;

  .responsive-container {
    display: grid;
    background-color: white;
    padding-bottom: 10px;

    .responsive-link {
      @extend %navbar-format-text;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px;
      transition: all 1s;
      cursor: pointer;
      margin-top: auto;

      &:hover {
        background-color: $secondary-color-light;
        padding-left: 25px;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  %nav-shadow {
    box-shadow: 0px 8px 8px $secondary-color-light;
  }

  .navbar {
    @extend %nav-shadow;
    background-color: white;
    margin-top: 0;
  }
  .responsive-menu {
    @extend %nav-shadow;
    .container {
      background-color: white;
    }
  }
}
