@import "../../partials/variables";

$links-color: rgb(50, 50, 50);
$navbar-background: white;

%format-text {
  color: $links-color;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bold;
  font-size: large;
}

.navbar {
  background: $navbar-background;
  min-height: 60px;
  display: flex;
  justify-content: center;
  place-items: center;
  box-shadow: 0px 0px 10px 1px $secondary-color;

  .container {
    display: flex;
    max-width: 1200px;

    .logo {
      flex: 1;
      display: flex;
      justify-content: flex-start;
      height: 1.2em;
    }

    .menu {
      flex: 1;
      @extend %format-text;
      display: flex;
      list-style-type: none;

      li {
        flex: 1;
        text-align: center;
        transition: color 1s;
        cursor: pointer;

        &:hover {
          color: $secondary-color;
        }
      }
    }

    .fabar-btn {
      flex: 0.1;
      display: flex;
      justify-content: flex-end;
      margin-right: 1em;
      cursor: pointer;
      transition: all 0.3s linear;

      &:hover {
        color: $secondary-color;
        transform: rotate(90deg);
      }
    }
  }
}
