$site-width: 1100px;

$primary-color: #fffaeb;
$secondary-color: #e9b949;
$secondary-color-light: #f2d592;

$ff-primary: "Roboto", sans-serif;
$ff-secondary: "Open Sans", sans-serif;

$navbar-background: $primary-color;
$links-color: rgb(50, 50, 50);
