$primary-color: #fffaeb;
$secondary-color: #c7ae6f;
$secondary-color-light: #e3d7b7;

$ff-primary: "Roboto", sans-serif;
$ff-secondary: "Open Sans", sans-serif;

$navbar-background: white;
$links-color: rgb(50, 50, 50);
