@import "../../partials/body";
@import "../../partials/titles";

$description-color: #617d98;
$button-background-color: #dae2ec;
$button-text-color: #617d98;

.container {
  width: 100%;
  height: 100%;

  .projects-page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    margin-top: 6em;

    h1 {
      @extend %h1-title;
      font-size: 4em;
    }
    .underline {
      @include underline(5em, 0.3em, $secondary-color, center);
      margin: auto;
      margin-bottom: 4em;
    }
    .projects {
      background-color: white;
      margin-top: 3em;
      min-height: 60vh;

      .projects-container {
        max-width: 1000px;
        margin: auto;
        margin-top: 3em;
        margin-bottom: 3em;
        display: grid;
        grid-template-columns: repeat(
          auto-fill,
          minmax(300px, 1fr)
        );
        gap: 3rem 1rem;

        article {
          background-color: #f1f5f8;
          color: #102a42;
          height: 100%;
          border-radius: 2em;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;

          h3 {
            flex: 1;
            text-align: center;
            letter-spacing: 1.5px;
          }
          p {
            flex: 2;
            text-align: justify;
            color: #617d98;
            padding: 20px;
            margin: 0;
          }
          ul {
            padding: 20px;
            margin: 0;
            display: inline-flex;
            flex-wrap: wrap;

            li {
              width: fit-content;
              background-color: $button-background-color;
              color: $button-text-color;
              margin: 0.5rem;
              letter-spacing: 2px;
              text-decoration: none;
              text-transform: uppercase;
              padding: 0.25rem 0.5rem;
              border-radius: 10%;
              font-size: 0.7em;
              text-decoration: none;
              list-style-type: none;
            }
          }
          .links {
            height: 40px;
            display: flex;
            place-items: center;

            a {
              margin: auto;
              text-decoration: none;
              text-transform: capitalize;
              font-weight: bold;
              color: $secondary-color;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .container {
    .projects-page {
      .projects {
        .projects-container {
          display: flex;
          flex-wrap: wrap;
          max-width: 60%;
          margin: auto;

          article {
            margin-top: 15px;
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}
