@import "./partials/body";

body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $ff-primary;
  background-color: $primary-color;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .site-content {
    flex: 1;
  }
}
